/* ===================== :ROOT START ===================== */

:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;

  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
}
/* ===================== :ROOT END ===================== */

/* ===================== BODY START ===================== */

* {
  margin: 0 auto;
  padding: 0;
}

body,
html {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: var(--font-family);
}

body {
  padding-top: 72px;
  box-sizing: border-box;
  font-family: var(--font-family);
  overflow-x: hidden;
  height: auto;
}
/* ===================== BODY END ===================== */

/* ===================== NAVBAR START ===================== */

.navbar-wrapper {
  width: 1550px;
  height: 72px;
  padding-left: 80px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: var(--white);
  border-bottom: 1px solid rgba(231, 233, 252, 1);
}

.nav {
  display: flex;
  position: relative;
}

.logo-header {
  font-family: var(--second-family);
  font-size: 18px;
  font-weight: bold;
  color: #4d5ae5;
  text-decoration: none;
  position: absolute;
  top: 24px;
  left: 156px;
  margin: 0 auto;
}

.logo-header span {
  color: var(--navy-blue);
}
/* ===================== NAVBAR END ===================== */

/* ===================== MENU START ===================== */

.menu {
  list-style: none;
  display: flex;
  gap: 40px;
  position: absolute;
  left: 347px;
  top: 24px;
}

.menu li a {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  color: var(--navy-blue);
  text-decoration: none;
}
.menu li a.studio {
  color: var(--ocean);
}
.menu li a.studio::after {
  content: "";
  position: absolute;
  left: 0;
  top: 45px;
  width: 48px;
  height: 4px;
  background-color: var(--ocean);
  border-radius: 2px;
}
.menu li a:hover {
  color: var(--ocean);
}
.menu .studio:active {
  color: var(--ocean);
  font-weight: bold;
}

.address ul {
  display: flex;
  gap: 20px;
  list-style: none;
  position: absolute;
  left: 1133px;
  top: 25px;
  margin: 0 auto;
  padding: 0;
}

.address ul li a {
  color: var(--slate);
  text-decoration: none;
  display: flex;
}
.address ul li a:hover {
  color: #404bbf;
}
/* ===================== MENU END ===================== */

/* ===================== HERO-İMAGE START ===================== */

.hero-image {
  background-color: var(--navy-blue);
  max-width: 1550px;
  padding: 0 50px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* width: 100%; */
  box-sizing: border-box;
}

.hero-image .container {
  /* max-width: 1440px; */
  padding: 0 40px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
  width: 100%;
  box-sizing: border-box;
}

.hero-image .text {
  color: var(--white);
  font-size: 56px;
  max-width: 496px;
  margin: 0;
  line-height: 1.2;
  font-weight: 700;
}

.order-service-button {
  margin-top: 40px;
  background-color: var(--iris);
  color: var(--white);
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.order-service-button:hover,
.order-service-button:focus {
  background-color: var(--ocean);
}
/* ===================== HERO-İMAG END ===================== */

/* ===================== MODAL START ===================== */

.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: var(--navy-blue-modal);
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.modal:target {
  display: flex;
  opacity: 1;
  visibility: visible;
}
.modal.is-open {
  display: flex;
  opacity: 1;
  visibility: visible;
}

.modal.is-open .modal-content {
  transform: translateY(0);
}
.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  width: 408px;
  height: 584px;
  margin-top: 40px;
  box-sizing: border-box;
  transform: translateY(-50px);
  transition: transform 0.3s ease-out;
}

.modal:target .modal-content {
  transform: translateY(0);
}

.close-button {
  color: var(--navy-blue);
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 20px;
  font-weight: normal;
  cursor: pointer;
  background-color: var(--cornflower);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.close-button:hover,
.close-button:focus {
  color: var(--white);
  background-color: var(--ocean);
}

.modal-header {
  text-align: center;
  margin-bottom: 24px;
  padding-bottom: 0;
}

.modal-header h2 {
  margin: 0;
  font-size: 16px;
  color: var(--navy-blue);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  top: 50px;
  position: relative;
}

.modal-body {
  padding: 0 16px;
}

.form-group {
  margin-bottom: 8px;
  position: relative;
  top: 40px;
}

.form-group label {
  display: block;
  font-weight: 400;
  color: var(--light-slate);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}

#name::placeholder {
  color: var(--navy-blue);
}
.input-icon-wrapper {
  position: relative;
  width: 100%;
  height: 40px;
}

.input-icon-wrapper input {
  width: 100%;
  padding: 8px 16px 8px 38px;
  font-size: 14px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: none;
  background: transparent;
  box-sizing: border-box;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form-group #name:focus + .name-input-icon {
  fill: var(--iris);
}

.input-icon-wrapper svg.icon {
  position: absolute;
  left: 16px;
  top: 40%;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  fill: var(--navy-blue);
  pointer-events: none;
  transition: fill 0.3s ease;
}

.form-group input:focus {
  border-color: var(--iris);
}

.form-group textarea {
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  resize: none;
  font-size: 14px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background: transparent;
  box-sizing: border-box;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form-group textarea::placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  color: rgba(46, 47, 66, 0.6);
}

.terms-checkbox {
  display: flex;
  align-items: center;
  top: 50px;
  position: relative;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--cornflower);
}

.terms-checkbox input[type="checkbox"] {
  margin-right: 8px;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.terms-checkbox input[type="checkbox"]:checked {
  background-color: var(--ocean);
  border-color: var(--ocean);
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.4429 0.999999L4.0157 5.42719L1.55708 2.96857L0.742915 3.78274L3.63942 6.67926L4.0157 7.05553L4.39198 6.67926L9.25708 1.81416L8.4429 0.999999Z' fill='%23F4F4FD'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
}

.terms-checkbox label {
  color: rgba(128, 128, 128, 0.8);
  line-height: 1.33;
}

.privacy-policy {
  color: var(--iris);
  text-decoration: underline;
  font-weight: 400;
}

.privacy-policy:hover {
  text-decoration: none;
}

.send-button {
  width: 169px;
  height: 56px;
  padding: 0;
  margin: 0 auto;
  display: block;
  top: 70px;
  position: relative;
  background-color: var(--iris);
  color: var(--white);
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.send-button:hover,
.send-button:focus {
  background-color: var(--ocean);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/* ===================== MODAL END ===================== */

/* ===================== ICON BOX START ===================== */

.box {
  background-color: var(--cloud);
  height: 112px;
  width: 264px;
  top: -10px;
  position: relative;
  border-radius: 4px;
  border: 1px solid var(--light-slate);
  display: flex;
  justify-content: center;
  align-items: center;
}

.box svg {
  display: block;
}
/* ===================== ICON BOX END ===================== */

/* ===================== SECTION 1 START ===================== */

.section1 .container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1228px;
  height: 224px;
  margin: 100px auto 40px auto;
  padding: 20px;
  box-sizing: border-box;
}

.section1 ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 264px;
  height: 72px;
  margin-top: 10px;
  display: flex;
  gap: 32px;
}

.section1 ul li {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: var(--slate);
}

.section1 h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: var(--navy-blue);
}

.section1 p {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.02px;
  color: var(--slate);
}
/* ===================== SECTION 1 END ===================== */

/* ===================== OUR TEAM START ===================== */

.our-team {
  background-color: var(--cloud);
  width: 100vw;
  padding: 100px 0;
  text-align: center;
  margin-top: 100px;
}

.our-team .container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 140px;
  box-sizing: border-box;
}

.our-team-h2 {
  font-size: 36px;
  margin-bottom: 60px;
  color: var(--navy-blue);
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.02em;
  display: inline-block;
}

.our-team-list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.team-member {
  max-width: 264px;
  background-color: var(--white);
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.team-info {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 10px;
  gap: 12px;
  height: 104px;
}

.team-info h3 {
  color: var(--navy-blue);
  margin-top: -50px;
}

.team-info p {
  color: var(--slate);
  top: 50px;
}

.social-icons {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.icon-wrapper {
  width: 40px;
  height: 40px;
  background-color: var(--iris);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-wrapper .icon {
  width: 20px;
  height: 20px;
  fill: var(--cloud);
  transition: fill 0.3s ease;
}
.icon-wrapper:hover {
  background-color: var(--ocean);
}

/* ===================== OUR TEAM END ===================== */

/* ===================== OUR PORTFOLIO START ===================== */

.our-portfolio {
  width: 100%;
  max-width: 1128px;
  margin: 0 auto;
  padding: 200px 0;
}
.our-portfolio h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  width: 218px;
  height: 40px;
  margin: -60px auto 40px auto;
  position: relative;
  color: var(--navy-blue);
}

.our-portfolio-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
}

.our-portfolio-list-row-1,
.our-portfolio-list-row-2 {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin: 0;
  justify-content: center;
}
.our-portfolio-list-row-1 {
  margin-top: -50px;
}
.our-portfolio-list-row-2 {
  margin-top: 80px;
}
.overlay-content {
  top: -140px;
  position: relative;
}
.our-portfolio-card {
  position: relative;
  width: 360px;
  height: 420px;
  margin-bottom: 20px;
  list-style: none;
  cursor: pointer;
  border: 1px solid var(--cornflower);
  box-sizing: border-box;
  background-color: var(--white);
  overflow: hidden;
  transition: box-shadow 0.4s ease;
}
.our-portfolio-card:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.1),
    0px 1px 1px rgba(46, 47, 66, 0.06), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.our-portfolio-card img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portfolio-info {
  position: absolute;
  bottom: 0;
  height: 120px;
  width: 360px;
  background-color: var(--white);
  padding: 20px 16px;
  box-sizing: border-box;
  border-top: 1px solid var(--cornflower);
  text-align: left;
  z-index: 3;
}

.overlay {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  color: white;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: bottom 0.6s ease;
  z-index: 2;
}

.our-portfolio-card:hover .overlay {
  bottom: 0;
}

.portfolio-info h3 {
  color: var(--navy-blue);
}
.portfolio-info p {
  margin-top: 12px;
  color: var(--slate);
}
/* ===================== OUR PORTFOLIO END ===================== */

/* ===================== FOOTER START ===================== */

footer {
  background-color: var(--navy-blue);
  width: 100%;
  height: 312px;
  color: var(--white);
}

footer .container {
  max-width: 1200px;
}

.footer .logo a {
  font-family: var(--second-family);
  color: var(--iris);
  text-decoration: none;
  margin-bottom: 20px;
  display: block;
  margin-left: 40px;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.03em;
  top: 60px;
  position: relative;
}

.logo a span {
  color: var(--white);
}

.footer p {
  font-family: var(--font-family);
  color: white;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02px;
  width: 264px;
  height: 112px;
  text-align: justify;
  right: 430px;
  top: 50px;
  position: relative;
}
/* ===================== FOOTER END ===================== */

/* ===================== FOOTER SOCIAL START ===================== */

.footer .social-icons {
  gap: 16px;
}

.footer .social-icons a {
  margin: 0;
  padding: 0;
}

.footer .icon-wrapper {
  width: 40px;
  height: 40px;
  background-color: var(--iris);
  border-radius: 50%;
  transition: background-color 0.3s ease, transform 0.3s ease;
  top: 140px;
  right: 560px;
  position: relative;
}

.social-title {
  position: relative;
  top: 90px;
  right: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.footer .icon-wrapper:hover {
  background-color: #31d0aa;
}

.footer .icon {
  width: 24px;
  height: 24px;
  fill: var(--cloud);
}
/* ===================== FOOTER SOCIAL END ===================== */

/* ===================== FOOTER EMAIL INPUT START ===================== */

form {
  width: 453px;
  height: 80px;
  display: flex;
  align-items: center;
  gap: 12px;
  left: 340px;
  top: -85px;
  position: relative;
}

.footer .email-input {
  color: var(--white);
  font-weight: 600;
  font-size: 14px;
  width: 264px;
}

.footer .email-input span {
  top: -20px;
  position: relative;
  line-height: 24px;
  letter-spacing: 0.4px;
  font-size: 16px;
  font-family: var(--font-family);
}

.footer .email-input input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--white);
  background-color: transparent;
  color: var(--white);
  font-size: 14px;
  filter: drop-shadow(0 4px 4px) var(--white);
}

.footer .email-input input::placeholder {
  position: absolute;
  left: 15px;
  color: var(--white);
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.footer button {
  width: 165px;
  height: 40px;
  background-color: var(--iris);
  color: var(--white);
  border-radius: 4px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-family: var(--font-family);
  margin-top: 25px;
  padding: 8px 24px;
  margin-left: 10px;
  letter-spacing: 0.4px;
  line-height: 24px;
}

.footer button svg.icon {
  width: 24px;
  height: 24px;
  fill: currentColor;
}
/* ===================== FOOTER EMAIL INPUT END ===================== */